* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  padding: 2rem;
}
.form {
  position: relative;
  width: 100%;
  padding: 3rem 2rem;
  border: 0.3rem solid gray;
  border-radius: 1rem;
}
.form h1 {
  text-align: center;
  margin-bottom: 2rem;
}
.button_group {
  display: flex;
  justify-content: end;
}
button {
  padding: 0.2rem 0.5rem;
}
button + button {
  margin-left: 1rem;
}
.steps {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
label {
  display: inline-block;
  width: 10%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  padding-left: 0;
}
input {
  display: inline-block;
  width: 90%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
